* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
$textcolor: #000;
$textcolorreverse: #fff;
$paracolor: #999;
$primarycolor: #f1664e;
$secondarycolor: #a851ff;
$background-color: #fff;
$background-color-dm: #222;
$background-gradient: linear-gradient(to right, #f1664e, #a851ff );
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  display: flex;
  justify-content: center;
  background: $background-color;
  color: $textcolor;
}
.bodylimit {
  width: 80%;
}
@media (max-width: 800px) {
  .bodylimit {
    width: 100%;
    position: relative;
  }
}
section {
  height: 100vh;
}
nav {
  background: $textcolorreverse;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  padding: 2rem 0;
  position: fixed;

  ul {
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
  li {
    margin: 0 1rem;
  }
  a {
    text-decoration: none;
    color: $textcolor;
    font-size: 1.4rem;
    font-weight: 500;
    transition: 0.3s;

    &:hover {
      color: $primarycolor;
      transition: 0.3s;
    }
  }

  .fas {
    display: none;
  }
  .menu {
    width: 2.5rem;
    display: none;
  }
}
@media (max-width: 800px) {
  nav {
    position: fixed;
    bottom: 0;

    padding: 1rem;
    width: 100%;
    height: 5rem;
    ul {
      bottom: -100%;
      right: 1rem;
      
      position: fixed;
      justify-content: center;
      background: $background-color;
      flex-direction: row;
      padding: 1rem 0;
      transition: 0.5s;
      border: 0.1rem solid $primarycolor;
      border-radius: 0.5rem;
      li{
        padding: .5rem 0.5rem;
      }
    }
    
    a {
      font-size: 1.4rem;
      span{
        display: none;
      }
    }

    .menu {
      cursor: pointer;
      display: inline;
      
      margin-right: 1rem;
    }
    .fas {
      display: inline;
      font-size: 2.5rem;
      color: $primarycolor;
      
      
    }
  }
}
.primary-text{
  color: $primarycolor;
  font-weight: 800;
}
.secondary-text{
  color: $secondarycolor;
  font-weight: 800;
}
.brand {
  display: flex;
  position: relative;

  .primary {
    color: $primarycolor;
    transition: 0.3s;
    font-weight: 600;
  }
  .secondary {
    color: $secondarycolor;
    transition: 0.3s;
    font-weight: 600;
  }
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .homedescription {
    flex-basis: 45%;
    width: 100%;
    padding: 2rem;
    p{
      margin: 2rem 0;
    }
  }
  img {
    flex-basis: 45%;
    width: 50%;
    max-width: 100%;
    object-fit: contain;
  }
}
@media (max-width: 800px) {
  .home {
    flex-direction: column-reverse;
    .homedescription{
      margin-bottom: 20%;
      padding: 0 2rem;
      
    }
    img{
      flex-basis: 40%;
      width: 100%;
      padding: 0 2rem;
      
    }
  }
  
}

.btn {
  border: 1px solid $primarycolor;
  font-size: 1.4rem;
  font-weight: 500;
  background: $primarycolor;
  color: $textcolorreverse;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 4rem;
  cursor: pointer;
  margin-right: 1rem;
  
  &:hover{
    background: transparent;
    color: $primarycolor;
  }
}
.btn-rev{
  border: 1px solid $secondarycolor;
  font-size: 1.4rem;
  font-weight: 500;
  background: transparent;
  color: $secondarycolor;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 4rem;
  cursor: pointer;
  
  &:hover{
    background: $secondarycolor;
    color: $textcolorreverse;
  }
}
.buttons{
  display: flex;
  
  flex-wrap: wrap;
}


h1 {
  font-size: 3.8rem;
  font-weight: 800;
}
h3 {
  font-size: 2.2rem;
  font-weight: 600;
}
h4 {
  font-size: 1.8rem;
  font-weight: 500;
}
p {
  font-size: 1.4rem;
  color: $paracolor;
  text-align: justify;
}
.login {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  .form {
    padding: 5rem;
    background: $secondarycolor;
    border-radius: 0.5rem;
  }
  .form input {
    margin: 1rem;
    border-style: none;
    outline: none;
    padding: 1rem;
    box-sizing: border-box;
  }
}

.services {
  
  transition: 0.5s ease;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.servicecontent {
  margin: 3rem 0;
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  text-align: center;
}
.serviceitem img {
  width: 5rem;
  transition: 0.5s;
  &:hover {
    transition: 0.5s;
    transform: scale(1.1);
  }
}

@media (max-width: 800px) {
  
  .services{
    justify-content: flex-start;
  }
  .servicecontent {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  .serviceitem img{
      width: 4.5rem;
  }
  .serviceitem h2{
      font-size: 1.4rem;
  }
}

//about us
.about-us{
  
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
  h1{
      margin-bottom: 4rem;
  }
  .about-content {
    display: flex;
    justify-content: space-between;
    
    img {
      width: 50%;
      padding: 0 2rem;
      flex-basis: 50%;
      object-fit:contain;
    }
    .about-paragraph {
        
        padding: 2rem;
      flex-basis: 50%;
      .btn-rev{
        margin-right: 1rem;
      }
      h4{
        padding-bottom: 1rem;
      }
      p{
        margin-bottom: 3rem;
      }
    }
  }
}

@media (max-width: 800px) {
    .about-us{
      margin: 3rem 0;
      h1{
        margin: 2rem 0;
      }
      justify-content: flex-start;
        .about-content{
            flex-direction: column;
            align-items: center;
            img{
              width: 100%;
            }
            .about-paragraph{
                text-align: justify;
                margin-top: 1rem;
            }
        }
    }
}

.works {

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1{
    margin-bottom: 2rem;
  }
}
#worksvideo{
  width: 100%;
  border-radius: .5rem;
  z-index: -1;
  object-fit: contain;
}
@media(max-width: 800px)
{
  .works{
    justify-content: flex-start;
    padding: 2rem;
  }
  #worksvideo{
    margin: 0 2rem;
  }
}


.contact {
    
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1{
    margin-bottom: 3rem;
  }
  .contactcontent{
    display: flex;
    background: $background-gradient;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    padding: 2rem;
    form{
      flex-basis: 50%;
      input{
        width: 100%;
        padding: 1rem 2rem;
        margin: .5rem;
        border-radius: 4rem;
        border: none;
        outline: none;
      }
      textarea{
        width: 100%;
        padding: 1rem 2rem;
        margin: .5rem;
        border-radius: 2rem;
        border: none;
        outline: none;
      }
      button{
        border: 1px solid $secondarycolor;
        font-size: 1.4rem;
        font-weight: 500;
        background: $secondarycolor;
        color: $textcolorreverse;
        padding: 1rem 2rem;
        text-decoration: none;
        border-radius: 4rem;
        cursor: pointer;
        margin-right: 1rem;
        margin-bottom: 2rem;
        &:hover{
          background: transparent;
          color: $secondarycolor;
        }
      }
      a{
        border-radius: 4rem;
        text-decoration: none;
        border: .1rem solid $background-color;
        padding: 1rem 2rem;
        font-size: 1.4rem;
        color: $textcolorreverse;
        &:hover{
          border:.1rem solid $secondarycolor;
          background: $secondarycolor;
        }
      }
    }
    img{
      width: 50%;
    }
  }
}
@media(max-width: 800px)
{
  .contact{
    padding: 2rem;
    padding-bottom: 3rem;
    justify-content: flex-start;
    h1{
      margin: 0;
    }
    .contactcontent{
      
      flex-direction: column-reverse;
      img{
        width: 100%;
      }
    }
  }
}



#dmtoggler {
  width: 2.5rem;
  cursor: pointer;
}

.darkmode {
  background: $background-color-dm;
  color: $textcolorreverse;
  nav {
    background: $background-color-dm;
    ul {
      background: $background-color-dm;
    }
    a {
      color: $textcolorreverse;
      &:hover {
        color: $primarycolor;
        transition: 0.3s;
      }
    }
  }
}

@media(max-width:2180px)
{
  html{
    font-size: 80%;
  }
}
@media(max-width:1440px)
{
  html{
    font-size: 62.5%;
  }
}
@media(max-width:768px)
{
  html {
    font-size: 55%;
  }
}